.card-style {
	cursor: pointer;
	transition: all 0.4s ease-in-out;
	text-align: center;
	display: flex;
	height: 410px;
}

.card-style img {
	width: 200px;
	height: 240px;
	object-fit: contain;
	padding: 5px;
}

.card-style:hover {
	transform: scale(1.1);
}

.card-style .card-body .title {
	font-size: 14px;
}
