.card-style {
	cursor: pointer;
	transition: all 0.4s ease-in-out;
	text-align: center;
	height: 445px;
}

.card-style img {
	width: 200px;
	height: 240px;
	object-fit: contain;
	padding: 5px;
}

.card-style:hover {
	transform: scale(1.1);
}

.card-style .card-body .title {
	font-size: 13px;
}

.abc {
	padding-left: 40px;
}

.pqr {
	padding-right: 70px;
	padding-top: 14px;
}

.para {
	float: right;
	margin-right: 0;
	padding-left: 80%;
	top: 0;
}

li {
	list-style: none;
	line-height: 50px;
	color: #333;
}

.col-md-2 {
	padding-bottom: 20px;
	font-weight: bold;
}

.col-md-2 a {
	text-decoration: none;
	color: #333;
}

.col-md-2.mio {
	font-size: 12px;
	padding-top: 7px;
}

.r4 {
	padding-left: 25px;
}

.btn-outline-warning {
	border-radius: 0;
	border: 2px solid yellow;
	color: #333;
	font-size: 12px;
	font-weight: bold;
	width: 70%;
}

.link-style {
	color: #34d2f2 !important;
	margin-right: 15px;
}

.link-style:hover {
	color: #333 !important;
}

@media screen and (max-width: 620px) {
	.container {
		width: 98%;
		display: flex;
		flex-flow: column;
		text-align: center;
	}

	.des::after {
		content: ".";
		font-size: 0;
		display: block;
		border-radius: 20px;
		height: 6px;
		width: 35%;
		background: yellow;
		margin: 10px auto;
	}

	.pqr {
		text-align: center;
		margin: 0 30px;
	}

	.para {
		text-align: center;
		padding-left: 90px;
		padding-top: 10px;
	}

	.klo {
		display: flex;
		text-align: center;
		margin: 0 auto;
		margin-right: 40px;
	}
}
